/* =========================================================
   print-course.css
   ========================================================= */
@media print {
  @page {
    size: 8.5in 11in;      /* Letter portrait */
    margin: 0.5in;         /* 0.5" all sides */

    @bottom-left {
      content: "Alveary Course List";
      font-size: 8pt;
      color: #4b544b;
      white-space: nowrap;
    }

    @bottom-center {
      content: "©2026 Charlotte Mason Institute® All rights reserved.";
      font-size: 8pt;
      color: #4b544b;
      white-space: nowrap;
    }

    @bottom-right {
      content: "p." counter(page);
      font-size: 8pt;
      color: #4b544b;
      white-space: nowrap;
    }
  }
}
